.tiny{
    width: 18px;
    height: 18px;
    border-radius: 50%;
}
.small{
    width: 30px;
    height: 30px;
    border-radius: 50px;
}
.medium {
    width: 50px;
    height: 50px;
    border-radius: 50px;
}
.big {
    width: 90px;
    height: 90px;
    border-radius: 50px;
}