*{
    padding: 0;
    box-sizing: border-box;
    margin: 0;
    font-family: Nunito;
}
a{
    color: white;
    text-decoration: none;
}
ul,li{
    list-style: none;
}
input{
    outline: none;
}
button:disabled{
    background: #516e94;
}
.App {
    max-width: 1200px;
    width: 100%;
    margin: auto;
    min-height: 100vh;
    position: relative;
}
.main{
    display: grid;
    grid-template-columns: 1fr 6fr;
    gap: 9px;
}

@import url('./auth.css');
@import url('./navbar.css');
@import url('./home.css');
@import url('./alert.css');
@import url('./avatar.css');
@import url('./popup.css');
@import url('./timetable.css');
@import url('./edit_profile.css');